In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score, roc_curve, auc, mean_squared_error, classification_report
from sklearn import  model_selection
from sklearn import ensemble
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from vecstack import stacking, StackingTransformer
from xgboost import XGBClassifier
from IPython.display import Image
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from Preprocessing import Preprocessing
from sklearn.model_selection import train_test_split

In [2]:
preprocessing_db = Preprocessing()
# 결측치 제거
preprocessing_db.drop_columns()
# 연속형 데이터 대체
preprocessing_db.numerical_columns_replace()
# 범주형 데이터 대체ㅐ
preprocessing_db.category_columns_replace()

In [3]:
df = preprocessing_db.get_df()

In [36]:
category_columns = [
    'Car_Owned', 'Bike_Owned', 'Active_Loan', 
    'House_Own', 'Homephone_Tag', 'Workphone_Working', 
    'Cleint_City_Rating', 'Application_Process_Day', 'Client_Permanent_Match_Tag', 
    'Client_Contact_Work_Tag']

In [37]:
category_columns_object = [
    'Client_Income_Type', 'Client_Education', 'Client_Marital_Status', 
    'Client_Gender', 'Loan_Contract_Type', 'Client_Housing_Type', 
    'Client_Occupation']

In [38]:
numerical_columns=[
    'Child_Count', 'Credit_Amount', 'Loan_Annuity', 
    'Population_Region_Relative', 'Age_Days', 'Employed_Days', 
    'Registration_Days', 'ID_Days', 'Client_Family_Members',
    'Score_Source_2', 'Phone_Change', 'Credit_Bureau']

In [39]:
len(category_columns)

10

In [40]:
len(category_columns_object)

7

In [41]:
len(numerical_columns)

12

In [14]:
# 29 columns

In [33]:
df.select_dtypes(exclude='object')

,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Homephone_Tag,Workphone_Working,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Score_Source_2,Phone_Change,Credit_Bureau
0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,0.028663,13957.0,1062.0,6123.000000,383.0,1,0,2.0,2.0,6.0,0.478787,63.000000,1.891082
1,1.0,0.0,1.0,NaN,0.0,15282.00,1826.55,0.008575,14162.0,4129.0,7833.000000,21.0,0,1,2.0,2.0,3.0,0.215068,962.106056,1.891082
2,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,0.022800,16790.0,5102.0,4975.162123,331.0,0,0,2.0,2.0,4.0,0.552795,277.000000,0.000000
3,0.0,0.0,1.0,1.0,0.0,53870.40,2295.45,0.010556,23195.0,365243.0,4975.162123,775.0,0,0,2.0,3.0,2.0,0.135182,1700.000000,3.000000
4,1.0,0.0,1.0,0.0,2.0,133988.40,3547.35,0.020713,11366.0,2977.0,5516.000000,4043.0,0,0,4.0,1.0,3.0,0.301182,674.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,0.0,0.0,NaN,1.0,0.0,107820.00,3165.30,0.031329,12889.0,2863.0,2661.000000,2943.0,0,0,2.0,2.0,4.0,0.173527,0.000000,1.000000
121852,0.0,1.0,1.0,0.0,0.0,104256.00,3388.05,0.018209,8648.0,636.0,902.000000,1209.0,1,0,2.0,3.0,4.0,0.371559,4.000000,0.000000
121853,0.0,1.0,0.0,1.0,1.0,55107.90,2989.35,0.008068,9152.0,1623.0,3980.000000,353.0,0,0,3.0,3.0,5.0,0.048079,0.000000,1.891082
121854,1.0,1.0,0.0,1.0,0.0,45000.00,2719.35,0.028663,10290.0,847.0,895.000000,2902.0,0,0,2.0,2.0,1.0,0.103538,0.000000,2.000000
121855,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,0.018029,14772.0,498.0,8679.000000,5025.0,0,0,2.0,3.0,4.0,0.556414,805.000000,0.000000

In [15]:
pd.set_option('display.max_columns', None)
df.head(10)

,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Client_Income_Type,Client_Education,Client_Marital_Status,Client_Gender,Loan_Contract_Type,Client_Housing_Type,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Homephone_Tag,Workphone_Working,Client_Occupation,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Score_Source_2,Phone_Change,Credit_Bureau
0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Commercial,Secondary,M,Male,CL,Home,0.028663,13957.000000,1062.0,6123.000000,383.0,1,0,Sales,2.0,2.0,6.0,Yes,Yes,0.478787,63.000000,1.891082
1,1.0,0.0,1.0,NaN,0.0,15282.00,1826.55,Service,Graduation,M,Male,CL,Home,0.008575,14162.000000,4129.0,7833.000000,21.0,0,1,Nojob,2.0,2.0,3.0,Yes,Yes,0.215068,962.106056,1.891082
2,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,Service,Graduation dropout,W,Male,CL,Family,0.022800,16790.000000,5102.0,4975.162123,331.0,0,0,Realty agents,2.0,2.0,4.0,Yes,Yes,0.552795,277.000000,0.000000
3,0.0,0.0,1.0,1.0,0.0,53870.40,2295.45,Retired,Secondary,M,Male,CL,Home,0.010556,23195.000000,365243.0,4975.162123,775.0,0,0,Nojob,2.0,3.0,2.0,Yes,Yes,0.135182,1700.000000,3.000000
4,1.0,0.0,1.0,0.0,2.0,133988.40,3547.35,Commercial,Secondary,M,Female,CL,Home,0.020713,11366.000000,2977.0,5516.000000,4043.0,0,0,Laborers,4.0,1.0,3.0,Yes,Yes,0.301182,674.000000,1.000000
5,0.0,1.0,1.0,1.0,1.0,13752.00,653.85,Service,Secondary,W,Female,CL,Home,0.019101,13881.000000,1184.0,3910.000000,3910.0,0,0,Laborers,2.0,2.0,2.0,Yes,Yes,0.697928,739.000000,0.000000
6,1.0,1.0,0.0,1.0,0.0,128835.00,3779.55,Retired,Secondary,S,Male,CL,Home,0.016612,21323.000000,365243.0,113.000000,4855.0,0,0,Nojob,1.0,2.0,3.0,Yes,Yes,0.602545,0.000000,3.000000
7,0.0,0.0,1.0,1.0,0.0,60415.20,3097.80,Retired,Secondary,M,Male,CL,Home,0.009175,22493.000000,365243.0,12617.000000,5280.0,0,1,Nojob,2.0,2.0,4.0,Yes,Yes,0.657508,1687.000000,4.000000
8,1.0,1.0,0.0,1.0,1.0,45000.00,1200.15,Commercial,Graduation,M,Female,CL,Home,0.006008,16027.422948,7889.0,5455.000000,2665.0,0,1,Sales,3.0,2.0,4.0,Yes,Yes,0.637594,1611.000000,0.000000
9,0.0,0.0,0.0,1.0,0.0,16320.15,1294.65,Retired,Secondary,W,Male,CL,Home,0.016612,20507.000000,365243.0,2834.000000,4053.0,0,0,Nojob,1.0,2.0,NaN,Yes,Yes,0.063343,533.000000,5.000000

In [ ]:
df.to_csv('./test.csv', index=False)

In [ ]:
df = pd.read_csv('./nbfi_vehicle_loan_repayment_dataset/Train_Dataset.csv')

In [ ]:
df['Default'].value_counts()

In [ ]:
target_df = preprocessing_db.get_target_df()

In [ ]:
target_df

In [ ]:
na_values = ['$', '#VALUE!', '##', 'XNA', '@', '#', 'x', '&']
columns = ['Client_Income', 'Credit_Amount', 'Loan_Annuity', 'Score_Source_3', 'Population_Region_Relative', 'Age_Days', 'Employed_Days', 'Registration_Days', 'ID_Days']
pay_df = pd.read_csv('./nbfi_vehicle_loan_repayment_dataset/Train_Dataset.csv', na_values=na_values, encoding='utf-8', engine='python')

for column in columns:
    pay_df[column] = pd.to_numeric(pay_df[column], errors='coerce')

In [ ]:
x_test = pd.read_csv('./nbfi_vehicle_loan_repayment_dataset/x_test.csv')
x_train = pd.read_csv('./nbfi_vehicle_loan_repayment_dataset/x_train_over.csv')
y_train = pd.read_csv('./nbfi_vehicle_loan_repayment_dataset/y_train_over.csv')
y_test = pd.read_csv('./nbfi_vehicle_loan_repayment_dataset/y_test.csv')

In [ ]:
df.shape

In [ ]:
df = pd.concat([x_test, x_train])
y_df = pd.concat([y_train, y_test])
df.to_csv('./data.csv', index=False)
y_df.to_csv('./y_data.csv', index=False)

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
# pd.get_dummies(df, columns=['Accompany_Client', 'Application_Process_Hour'], ax=1)

In [ ]:
df.Cleint_City_Rating.value_counts()

In [ ]:
df_null_sum = df.isna().sum()
column = df_null_sum[df_null_sum>0].index
test = pd.get_dummies(df, columns=column)

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
test.isna().sum()

In [ ]:
df.isna().sum()

In [ ]:
df = pd.read_csv('./nbfi_vehicle_loan_repayment_dataset/Train_Dataset.csv', na_values=['$', '#VALUE!', '##', 'XNA', '@', '#', 'x', '&'], encoding='utf-8', engine='python')

In [ ]:
# 범주형인데 1, 2~~~
category_value_number = ['Car_Owned', 'Bike_Owned',
                        'Active_Loan', 'House_Own', 'Child_Count',
                        'Own_House_Age', 'Homephone_Tag', 'Workphone_Working', 
                        'Client_Family_Members', 'Cleint_City_Rating', 'Application_Process_Day', 'Application_Process_Hour',
                        'Credit_Bureau']

In [ ]:
# 연속형
numerical_value = ['Client_Income', 'Credit_Amount', 'Loan_Annuity', 
                   'Population_Region_Relative', 'Age_Days', 'Employed_Days',
                   'Registration_Days', 'ID_Days', 'Score_Source_1' ,
                   'Score_Source_2', 'Score_Source_3', 'Social_Circle_Default', 'Phone_Change']

In [ ]:
# 범주형인데 str
category_value_object = df.select_dtypes(include='object').columns

In [ ]:
category_value_object

In [ ]:
df.drop(columns='Mobile_Tag', axis=1, inplace=True)

In [ ]:
def test(column):
    return random.choice(column)

In [ ]:
import random
columns = {}
for column in category_value_object:
    if df[column].isna().sum() > 10000 or df[column].isna().sum() == 0:
        continue
    unique_columns = df[column].loc[df[column].isna()==False].unique()
    df[column] = df[column].apply(lambda x : random.choice(unique_columns) if pd.isna(x) else x)

In [ ]:
df.Client_Housing_Type.value_counts()

In [ ]:
df.Accompany_Client[df.Accompany_Client.isna()==False].unique()

In [ ]:
columns

## 결측치가 만 건 미만인 컬럼명
- Accompany_Client,고객이 대출을 신청할 때 고객과 동행한 사람 : Drop
- Client_Income_Type,고객 소득 유형 : Drop
- Client_Education,고객이 달성한 최고 교육 수준 : Random
- Client_Marital_Status,"고객의 결혼 상태(D- 이혼, S- 미혼, M- 기혼, W- 사별)" : Random
- Client_Gender,고객의 성별 : Random
- Loan_Contract_Type,"대출 유형(CL- 현금대출, RL- 리볼빙대출)" : Random
- Client_Housing_Type,고객 주택 상황 : Random

In [ ]:
columns = {}
category_value_object = pay_df.select_dtypes(include='object').columns

for column in category_value_object:
    if pay_df[column].isna().sum() < 10000:
        continue
    columns[column] = pay_df[column].isna().sum()

columns

In [ ]:
pd.DataFrame({"Count" : df.isna().sum(), "Percentage" : df.isna().sum() / len(df) * 100})

# 주제 : 차량 대출 상환가능성 예측

In [ ]:
aa = ['Own_House_Age', 'Client_Occupation', 'Type_Organization', 'Score_Source_1', 'Score_Source_3', 'Social_Circle_Default', 'Credit_Bureau']

In [ ]:
test = {}
for i in aa:
    test[i] = pay_df[i].isna().sum()
    
test

## 결측치가 만건 이상인 컬럼명
- Own_House_Age,고객 소유 주택의 나이(년) : drop
- Client_Occupation,고객 직업 유형 : Nojob :: DROP
- Type_Organization,클라이언트가 근무하는 조직 유형 : drop
- Score_Source_1,다른 출처에서 얻은 점수. 정규화된 점수입니다. : drop
- Score_Source_3,다른 소스에서 가져온 점수입니다. 정규화된 점수입니다. : drop
- Social_Circle_Default,지난 60일 동안 대출 상환을 불이행한 고객의 친구/가족 수 : drop
- Credit_Bureau, 1년 내 90일 이상 장기연체 등 신용위험이 발생할 가능성을 수치화하여 제공하는 지표 : 평균

- ID,고객 대출 신청 ID
- Client_Income,고객 소득() : DROP
- Car_Owned,다른 차량에 대한 대출을 신청하기 전에 고객이 소유한 모든 차량(0은 아니요, 1은 그렇지 않음을 의미)
- Bike_Owned,고객이 소유한 모든 자전거(0은 아니요, 1은 그렇지 않음을 의미)
- Active_Loan,대출 신청 당시 진행 중인 다른 대출이 있는지 여부(0은 아니요, 1은 그렇지 않음을 의미)
- House_Own,고객이 소유한 주택 수(0은 아니요, 1은 그 외의 주택)
- Child_Count,고객이 보유한 자녀 수
- Credit_Amount,대출의 신용 금액()
- Loan_Annuity,대출 연금()
- Accompany_Client,고객이 대출을 신청할 때 고객과 동행한 사람
- Client_Income_Type,고객 소득 유형
- Client_Education,고객이 달성한 최고 교육 수준
- Client_Marital_Status,"고객의 결혼 상태(D- 이혼, S- 미혼, M- 기혼, W- 사별)"
- Client_Gender,고객의 성별
- Loan_Contract_Type,"대출 유형(CL- 현금대출, RL- 리볼빙대출)"
- Client_Housing_Type,고객 주택 상황
- Population_Region_Relative,고객이 거주하고 있는 지역의 상대적 인구수. 값이 높을수록 고객이 인구가 많은 지역에 거주하고 있음을 의미합니다.
- Age_Days,신청서 제출 시점의 고객 나이
- Employed_Days,"신청 전, 고객이 수입을 시작한 일수"
- Registration_Days,"대출 신청일 전, 고객이 등록을 변경한 일수"
- ID_Days,"대출 신청 며칠 전, 고객이 대출을 신청한 신분증을 변경했습니다."
- Own_House_Age,고객 소유 주택의 나이(년)
- Mobile_Tag,고객이 제공한 휴대폰 번호(1은 예, 0은 아니오를 의미) : drop
- Homephone_Tag,고객이 제공한 집전화 번호(1은 예, 0은 아니오를 의미)
- Workphone_Working,직장 전화 번호로 연락 가능했는지(1은 예, 0은 아니오)
- Client_Occupation,고객 직업 유형
- Client_Family_Members,고객이 보유한 가족 구성원 수
- Cleint_City_Rating,고객 도시 등급. 3은 최고, 2는 좋음, 1은 평균을 나타냅니다.
- Application_Process_Day,고객이 대출을 신청한 요일(0-일,1-월,2-화,3-수,4-목,5-금,6-토)"
- Application_Process_Hour,고객이 대출을 신청한 요일 시간 : DROP
- Client_Permanent_Match_Tag,고객 연락처 주소가 영구 주소와 일치하지 않는 경우 표시.
- Client_Contact_Work_Tag,고객 직장 주소가 연락처 주소와 일치하지 않는 경우 표시.
- Type_Organization,클라이언트가 근무하는 조직 유형
- Score_Source_1,다른 출처에서 얻은 점수. 정규화된 점수입니다.
- Score_Source_2,다른 출처에서 얻은 점수입니다. 정규화된 점수입니다.
- Score_Source_3,다른 소스에서 가져온 점수입니다. 정규화된 점수입니다.
- Social_Circle_Default,지난 60일 동안 대출 상환을 불이행한 고객의 친구/가족 수
- Phone_Change,"대출 신청 며칠 전에 고객이 휴대폰을 변경했는지"
- Credit_Bureau,작년 총 조회 건수
- Default,1은 고객이 대출 상환을 불이행했음을 의미하고 0은 그렇지 않음을 의미합니다.

In [ ]:
# pay_df.Client_Gender = count_encoder.fit_transform(pay_df.Client_Gender)

pay_df.Client_Gender = label_encoder.fit_transform(pay_df.Client_Gender)

In [ ]:
pay_df.Client_Gender

In [ ]:
pay_df.Accompany_Client.value_counts()
# pay_df.Accompany_Client.isna().sum()

In [ ]:
pay_df.Client_Gender.value_counts()

In [ ]:
pay_df.Client_Gender = pay_df.Client_Gender.apply(lambda x : 0 if x == 2 else x)

In [ ]:
pay_df.pivot_table(index=y_target, columns=['Client_Gender'], aggfunc=['mean', 'sum'])

In [ ]:
import tensorflow as tf

from tensorflow.keras import datasets, utils
from tensorflow.keras import models, layers, activations, initializers, losses, optimizers, metrics
from sklearn import model_selection
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from tensorflow.keras import utils
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [ ]:
target_df = df['Default']
del df['Default']

In [ ]:
target_df = utils.to_categorical(target_df)

In [ ]:
train_data, test_data, train_label, test_label = model_selection.train_test_split(df, target_df,
                                                                                 test_size=0.3,
                                                                                 random_state=0)

In [ ]:
# OverSampling

In [ ]:
numerical_value

In [ ]:
category_value_number.extend(category_value_object)

In [ ]:
numeric_transformer = StandardScaler() # cf) RobustScaler
categorical_transformer = OneHotEncoder(categories='auto', handle_unknown='ignore') 

preprocessor = ColumnTransformer(
    transformers=[ # List of (name, transformer, column(s))
        ('num', numeric_transformer, numerical_value),
        ('cat', categorical_transformer, category_value_number)])

In [ ]:
preprocessor_pipe = Pipeline(steps=[('preprocessor', preprocessor)]) # preprocessing-only

In [ ]:
preprocessor_pipe

In [ ]:
preprocessor_pipe.fit(train_data)

In [ ]:
x_train_transformed = preprocessor_pipe.transform(train_data)
x_test_transformed = preprocessor_pipe.transform(test_data)

In [ ]:
model = models.Sequential()

model.add(layers.Dense(input_dim=x_train_transformed.shape[1], units=256, activation=None, kernel_initializer=initializers.he_uniform())) # he-uniform initialization
model.add(layers.Activation('elu'))

model.add(layers.Dense(units=512, activation=None, kernel_initializer=initializers.he_uniform())) 
model.add(layers.Activation('elu')) 

model.add(layers.Dense(units=512, activation=None, kernel_initializer=initializers.he_uniform())) 
model.add(layers.Activation('elu'))

model.add(layers.Dense(units=256, activation=None, kernel_initializer=initializers.he_uniform())) 
model.add(layers.Activation('elu')) 

model.add(layers.Dense(units=2, activation='softmax'))

In [ ]:
model.compile(optimizer=optimizers.Adam(),
              loss=losses.categorical_crossentropy, 
              metrics=[metrics.categorical_accuracy, metrics.Recall(), metrics.Precision()])

In [ ]:
train_label.shape

In [ ]:
x_train_transformed.shape

In [ ]:
# "Fit" the model on training data
history = model.fit(x_train_transformed.todense(), train_label, batch_size=1000, epochs=20, validation_split=0.2)

In [ ]:
history.history.keys()

In [ ]:
val_acc = history.history['val_categorical_accuracy']
acc = history.history['categorical_accuracy']

val_recall = history.history['val_recall']
recall = history.history['recall']

val_precision = history.history['val_precision']
precision = history.history['precision']

x_len = np.arange(len(acc))
plt.plot(x_len, acc, marker='.', c='blue', label="Train-set Acc.")
plt.plot(x_len, val_acc, marker='.', c='red', label="Validation-set Acc.")

x_len = np.arange(len(recall))
plt.plot(x_len, recall, marker='.', c='green', label="Train-set Recall.")
plt.plot(x_len, val_recall, marker='.', c='purple', label="Validation-set Recall.")

x_len = np.arange(len(precision))
plt.plot(x_len, precision, marker='.', c='yellow', label="Train-set Precision.")
plt.plot(x_len, val_precision, marker='.', c='cyan', label="Validation-set Precision.")

plt.legend(loc='upper left')
plt.grid()
plt.xlabel('epoch')
plt.ylabel('Accuracy')
plt.show()

In [ ]:
estimators = [ 
    ('ExtraTrees', ensemble.ExtraTreesClassifier(random_state = 0, n_jobs = -1, n_estimators = 100, max_depth = 3)),
    ('RandomForest', ensemble.RandomForestClassifier(random_state = 0, n_jobs = -1, n_estimators = 100, max_depth = 3)),
    ('DecisionTree', DecisionTreeClassifier()),
]

In [ ]:
stack = StackingTransformer(estimators, 
                            regression = False, 
                            metric = accuracy_score,
                            n_folds = 2, stratified = True, shuffle = True, 
                            random_state = 42, verbose = 2)

In [ ]:
y_target = preprocessing_db.get_target_df()
y_train, y_test = train_test_split(y_target, test_size=0.2, random_state=42)

In [ ]:
x_train.shape

In [ ]:
y_train.shape

In [ ]:
y_test = pd.read_csv('./nbfi_vehicle_loan_repayment_dataset/origin_y_test.csv')
y_train = pd.read_csv('./nbfi_vehicle_loan_repayment_dataset/origin_y_train_over.csv')

In [ ]:
# fit을 통해 분류함
stack = stack.fit(x_train, y_train)

In [ ]:
# transform을 통해 학습시킴
S_train = stack.transform(x_train)
# transform을 통해 학습시킴
S_test = stack.transform(x_test)

In [ ]:
S_train.shape

In [ ]:
y_test.shape

In [ ]:
# XGBClassification의 hyper-parameter
params = {
    'learning_rate' : [1, 0.1, 0.01, 0.001],
    'n_estimators' : [100, 1000],
    'max_depth' : [3, 4, 5],
    'eval_metric' : ['mlogloss'],
    'n_jobs' : [-1],
    'seed' : [0],
}

In [ ]:
# GridSearch를 통해 HPO 찾기
grid = GridSearchCV(
    XGBClassifier(),
    params,
    refit=True, verbose=1
)
y_pred = grid.fit(S_train, y_train)
y_pred.best_params_

In [ ]:
# HPO 적용
model = XGBClassifier(**y_pred.best_params_) 
# 투표를 통해 얻은 S_train과 y_train을 다시 학습시킴
model = model.fit(S_train, y_train)

In [ ]:
fpr, tpr, _ = roc_curve(y_true=y_test, y_score=model.predict_proba(S_test)[:,1])
roc_auc = auc(fpr, tpr) # AUC 면적의 값 (수치)
plt.figure(figsize=(9, 9))
plt.plot(fpr, tpr, color='darkorange', lw=2, label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.legend(loc="lower right")
plt.title("ROC curve")
plt.show()

In [ ]:
predictions = model.predict(S_test)
print(classification_report(y_test, predictions))

In [ ]:
from sklearn.svm import SVC
svc = SVC()

In [ ]:
params = {
    'C' : [1, 10, 100, 1000],
    'kernel' : ['rbf'],
    'gamma' : [0.1, 0.01, 0.001],
    'max_iter' : [3, 4, 5],
}


# GridSearch를 통해 HPO 찾기
grid = GridSearchCV(
    svc,
    params,
    refit=True, verbose=1
)
y_pred = grid.fit(x_train, y_train)
y_pred.best_params_

In [ ]:
scv = SVC(**y_pred.best_params_)

In [ ]:
y_train.shape

In [ ]:
x_train.shape

In [ ]:
scv.fit(x_train, y_train)

In [ ]:
pridict_y = scv.predict(x_test)

In [ ]:
print(classification_report(y_test, pridict_y))

In [ ]:
fpr, tpr, _ = roc_curve(y_true=y_test, y_score=scv.predict_proba(S_test)[:,1])
roc_auc = auc(fpr, tpr) # AUC 면적의 값 (수치)
plt.figure(figsize=(9, 9))
plt.plot(fpr, tpr, color='darkorange', lw=2, label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.legend(loc="lower right")
plt.title("ROC curve")
plt.show()