In [1]:
import pandas as pd
import warnings
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder

In [12]:
df = pd.read_csv('C:/semi_project/nbfi_vehicle_loan_repayment_dataset/Train_Dataset.csv')     
# C:/Users/TECH2_25/TIL/Semi-project 2 (데이터 수집-전처리-통계분석-시각화 + ML _ DL)/Train_Dataset.csv
# encoding='euc-kr'

C:\Users\Aro\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
df

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,12207714,29250,0.0,0.0,NaN,1.0,0.0,107820,3165.3,Relative,...,Yes,No,Business Entity Type 2,NaN,0.173527,0.184116,0.0577,0.0,1.0,1
121852,12173765,15750,0.0,1.0,1.0,0.0,0.0,104256,3388.05,Alone,...,Yes,Yes,Self-employed,NaN,0.371559,0.406617,0.0825,4.0,0.0,0
121853,12103937,8100,0.0,1.0,0.0,1.0,1.0,55107.9,2989.35,Alone,...,No,No,Trade: type 6,0.169049,0.048079,NaN,NaN,0.0,NaN,0
121854,12170623,38250,1.0,1.0,0.0,1.0,0.0,45000,2719.35,Alone,...,Yes,Yes,Business Entity Type 3,0.182737,0.103538,0.077499,0.0979,0.0,2.0,0
121855,12105610,9000,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.556414,0.298595,0.1031,805.0,0.0,0

In [23]:
df[''].value_counts()

118192

In [28]:
pd.get_dummies(df)

,ID,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Own_House_Age,Mobile_Tag,Homephone_Tag,Workphone_Working,...,Score_Source_3_0.857297454,Score_Source_3_0.859053129,Score_Source_3_0.859924176,Score_Source_3_0.862510303,Score_Source_3_0.863363382,Score_Source_3_0.865895915,Score_Source_3_0.866731234,Score_Source_3_0.869210801,Score_Source_3_0.88026848,Score_Source_3_0.882530313
0,12142509,0.0,0.0,1.0,0.0,0.0,NaN,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,12138936,1.0,0.0,1.0,NaN,0.0,0.0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,12181264,0.0,0.0,1.0,0.0,1.0,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12188929,0.0,0.0,1.0,1.0,0.0,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12133385,1.0,0.0,1.0,0.0,2.0,6.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,12207714,0.0,0.0,NaN,1.0,0.0,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,0
121852,12173765,0.0,1.0,1.0,0.0,0.0,NaN,1,1,0,...,0,0,0,0,0,0,0,0,0,0
121853,12103937,0.0,1.0,0.0,1.0,1.0,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,0
121854,12170623,1.0,1.0,0.0,1.0,0.0,4.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
121855,12105610,1.0,1.0,1.0,1.0,1.0,6.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df.isna().sum()

ID                                0
Client_Income                  3607
Car_Owned                      3581
Bike_Owned                     3624
Active_Loan                    3635
House_Own                      3661
Child_Count                    3638
Credit_Amount                  3632
Loan_Annuity                   4812
Accompany_Client               1746
Client_Income_Type             3701
Client_Education               3645
Client_Marital_Status          3473
Client_Gender                  2413
Loan_Contract_Type             3651
Client_Housing_Type            3687
Population_Region_Relative     4857
Age_Days                       3600
Employed_Days                  3649
Registration_Days              3614
ID_Days                        5968
Own_House_Age                 80095
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             41435
Client_Family_Members          2410
Cleint_City_Rating             2409
Application_Process_Day        2428
Application_Process_Hour       3663
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              3609
Score_Source_1                68835
Score_Source_2                 5686
Score_Source_3                26921
Social_Circle_Default         61928
Phone_Change                   3664
Credit_Bureau                 18540
Default                           0
dtype: int64

#### 필요 없을것같은 column drop

In [39]:
# df_edit = df.drop(['ID', 'Accompany_Client', 'Client_Education', 'Mobile_Tag', 'Homephone_Tag','Workphone_Working', 'Application_Process_Day', 'Application_Process_Hour', 'Client_Contact_Work_Tag', 'Score_Source_1', 'Score_Source_2', 'Score_Source_3', 'Phone_Change'], axis = 1)  
# inplace = True

In [38]:
# df_edit

## NaN값 0으로 채운 뒤 모델돌리기

In [5]:
df.fillna(0, inplace=True)

In [25]:
df.isna().sum()

ID                                0
Client_Income                  3607
Car_Owned                      3581
Bike_Owned                     3624
Active_Loan                    3635
House_Own                      3661
Child_Count                    3638
Credit_Amount                  3632
Loan_Annuity                   4812
Accompany_Client                  0
Client_Income_Type                0
Client_Education                  0
Client_Marital_Status             0
Client_Gender                     0
Loan_Contract_Type                0
Client_Housing_Type               0
Population_Region_Relative        0
Age_Days                       3600
Employed_Days                  3649
Registration_Days              3614
ID_Days                        5968
Own_House_Age                 80095
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation                 0
Client_Family_Members             0
Cleint_City_Rating                0
Application_Process_Day        2428
Application_Process_Hour       3663
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization                 0
Score_Source_1                    0
Score_Source_2                    0
Score_Source_3                    0
Social_Circle_Default         61928
Phone_Change                   3664
Credit_Bureau                 18540
Default                           0
dtype: int64

#### 모델 선정

### 파이프라인 생성

In [24]:
cat_columns = ['Accompany_Client', 'Client_Income_Type', 'Client_Education', 'Client_Marital_Status', 
               'Client_Gender', 'Loan_Contract_Type', 'Client_Housing_Type', 'Population_Region_Relative',
               'Client_Occupation', 'Client_Family_Members', 'Cleint_City_Rating', 'Type_Organization', 
               'Client_Permanent_Match_Tag', 'Client_Contact_Work_Tag', 'Score_Source_1', 'Score_Source_2', 
               'Score_Source_3']


# 범주형 변수를 문자열로 변환

df[cat_columns] = df[cat_columns].astype(str)

# LabelEncoder 객체 생성
le = LabelEncoder()

# 선택한 컬럼에 대해 LabelEncoding 실행
for col in cat_columns:
    df[col] = le.fit_transform(df[col])

# 파이프라인 구성
pipe = Pipeline([
    ('imputer', SimpleImputer(strategy='median')), # 결측치 중앙값으로 대체
    ('scaler', StandardScaler()), # 표준화
    ('pca', PCA(n_components=2)) # 차원 축소
])

# 파이프라인 실행
X_transformed = pipe.fit_transform(df)

# 결과 출력
print(X_transformed)

ValueError: Cannot use median strategy with non-numeric data:
could not convert string to float: '$'

In [ ]:
#### 1.