In [1]:
import numpy as np
import pandas as pd
from Preprocessing import Preprocessing

In [68]:
preprocessing_db = Preprocessing()

In [69]:
# 결측치 대체 (na_values = ['$', '#VALUE!', '##', 'XNA', '@', '#', 'x', '&'] 리스트에 있는 결측치 처리)
# 그 외 특정 컬럼에 대한 결측치 처리 (Client_Occupation, redit_Bureau)
## 결측치가 많아 원래는 컬럼을 삭제해야하나 종속변수와 상관관계가 있을 것으로 판단되는 컬럼이므로 
## 컬럼 삭제 대신 결측치 값을 다른 값으로 대체하기로 함 

preprocessing_db.__init__()

In [70]:
# 다수의 결측치 존재로 분석하기 어렵다고 판단되는 컬럼 삭제 (총 8개의 컬럼)
preprocessing_db.drop_columns()

In [71]:
# 연속형 데이터 대체 
preprocessing_db.numerical_columns_replace()

In [72]:
# data load
pay_df = preprocessing_db.get_df()

In [73]:
pay_df.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Client_Income_Type,Client_Education,Client_Marital_Status,Client_Gender,Loan_Contract_Type,Client_Housing_Type,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Homephone_Tag,Workphone_Working,Client_Occupation,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Score_Source_2,Phone_Change,Credit_Bureau,Default
0,12142509,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Commercial,Secondary,M,Male,CL,Home,0.028663,13957.0,1062.0,6123.000000,383.0,1,0,Sales,2.0,2.0,6.0,Yes,Yes,0.478787,63.000000,1.891082,0
1,12138936,20250.0,1.0,0.0,1.0,NaN,0.0,15282.00,1826.55,Service,Graduation,M,Male,CL,Home,0.008575,14162.0,4129.0,7833.000000,21.0,0,1,Nojob,2.0,2.0,3.0,Yes,Yes,0.215068,962.106056,1.891082,0
2,12181264,18000.0,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,Service,Graduation dropout,W,Male,CL,Family,0.022800,16790.0,5102.0,4975.162123,331.0,0,0,Realty agents,2.0,2.0,4.0,Yes,Yes,0.552795,277.000000,0.000000,0
3,12188929,15750.0,0.0,0.0,1.0,1.0,0.0,53870.40,2295.45,Retired,Secondary,M,Male,CL,Home,0.010556,23195.0,365243.0,4975.162123,775.0,0,0,Nojob,2.0,3.0,2.0,Yes,Yes,0.135182,1700.000000,3.000000,0
4,12133385,33750.0,1.0,0.0,1.0,0.0,2.0,133988.40,3547.35,Commercial,Secondary,M,Female,CL,Home,0.020713,11366.0,2977.0,5516.000000,4043.0,0,0,Laborers,4.0,1.0,3.0,Yes,Yes,0.301182,674.000000,1.000000,0

In [75]:
# 추가적으로 필요없는 컬럼 삭제
pay_df.drop(['ID', 'Client_Income_Type'], axis=1, inplace=True)

In [76]:
# info 확인
pay_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Client_Income               121856 non-null  float64
 1   Car_Owned                   118275 non-null  float64
 2   Bike_Owned                  118232 non-null  float64
 3   Active_Loan                 118221 non-null  float64
 4   House_Own                   118195 non-null  float64
 5   Child_Count                 118218 non-null  float64
 6   Credit_Amount               121856 non-null  float64
 7   Loan_Annuity                121856 non-null  float64
 8   Client_Education            118211 non-null  object
 9   Client_Marital_Status       118383 non-null  object
 10  Client_Gender               119440 non-null  object
 11  Loan_Contract_Type          118205 non-null  object
 12  Client_Housing_Type         118169 non-null  object
 13  Population_Region_Relative  121856 non-null  float64
 14  Age_Days                    121856 non-null  float64
 15  Employed_Days               121856 non-null  float64
 16  Registration_Days           121856 non-null  float64
 17  ID_Days                     121856 non-null  float64
 18  Homephone_Tag               121856 non-null  int64
 19  Workphone_Working           121856 non-null  int64
 20  Client_Occupation           121856 non-null  object
 21  Client_Family_Members       119446 non-null  float64
 22  Cleint_City_Rating          119447 non-null  float64
 23  Application_Process_Day     119428 non-null  float64
 24  Client_Permanent_Match_Tag  121856 non-null  object
 25  Client_Contact_Work_Tag     121856 non-null  object
 26  Score_Source_2              121856 non-null  float64
 27  Phone_Change                121856 non-null  float64
 28  Credit_Bureau               121856 non-null  float64
 29  Default                     121856 non-null  int64
dtypes: float64(19), int64(3), object(8)
memory usage: 27.9+ MB

In [77]:
# 범주형 데이터 결측치 처리 함수 
import random
def category_columns_replace(df):
    # object인 column들(카테고리)만 뽑기
    category_columns_object = df.select_dtypes(include='object').columns

    # 결측치 0개 초과 10000개 미만의 데이터를 대상으로 랜덤하게 결측치 대체
    for column in category_columns_object:
        if df[column].isna().sum() > 10000 or df[column].isna().sum() == 0:
            continue
        unique_columns = df[column].loc[df[column].isna()==False].unique()
        df[column] = df[column].apply(lambda x : random.choice(unique_columns) if pd.isna(x) else x)
        
    return df

In [78]:
category_columns_replace(pay_df)

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Client_Education,Client_Marital_Status,Client_Gender,Loan_Contract_Type,Client_Housing_Type,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Homephone_Tag,Workphone_Working,Client_Occupation,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Score_Source_2,Phone_Change,Credit_Bureau,Default
0,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Secondary,M,Male,CL,Home,0.028663,13957.0,1062.0,6123.000000,383.0,1,0,Sales,2.0,2.0,6.0,Yes,Yes,0.478787,63.000000,1.891082,0
1,20250.0,1.0,0.0,1.0,NaN,0.0,15282.00,1826.55,Graduation,M,Male,CL,Home,0.008575,14162.0,4129.0,7833.000000,21.0,0,1,Nojob,2.0,2.0,3.0,Yes,Yes,0.215068,962.106056,1.891082,0
2,18000.0,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,Graduation dropout,W,Male,CL,Family,0.022800,16790.0,5102.0,4975.162123,331.0,0,0,Realty agents,2.0,2.0,4.0,Yes,Yes,0.552795,277.000000,0.000000,0
3,15750.0,0.0,0.0,1.0,1.0,0.0,53870.40,2295.45,Secondary,M,Male,CL,Home,0.010556,23195.0,365243.0,4975.162123,775.0,0,0,Nojob,2.0,3.0,2.0,Yes,Yes,0.135182,1700.000000,3.000000,0
4,33750.0,1.0,0.0,1.0,0.0,2.0,133988.40,3547.35,Secondary,M,Female,CL,Home,0.020713,11366.0,2977.0,5516.000000,4043.0,0,0,Laborers,4.0,1.0,3.0,Yes,Yes,0.301182,674.000000,1.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,29250.0,0.0,0.0,NaN,1.0,0.0,107820.00,3165.30,Secondary,M,Female,CL,Home,0.031329,12889.0,2863.0,2661.000000,2943.0,0,0,Laborers,2.0,2.0,4.0,Yes,No,0.173527,0.000000,1.000000,1
121852,15750.0,0.0,1.0,1.0,0.0,0.0,104256.00,3388.05,Graduation,M,Female,CL,Home,0.018209,8648.0,636.0,902.000000,1209.0,1,0,Sales,2.0,3.0,4.0,Yes,Yes,0.371559,4.000000,0.000000,0
121853,8100.0,0.0,1.0,0.0,1.0,1.0,55107.90,2989.35,Secondary,M,Male,CL,Home,0.008068,9152.0,1623.0,3980.000000,353.0,0,0,High skill tech,3.0,3.0,5.0,No,No,0.048079,0.000000,1.891082,0
121854,38250.0,1.0,1.0,0.0,1.0,0.0,45000.00,2719.35,Graduation,M,Female,CL,Home,0.028663,10290.0,847.0,895.000000,2902.0,0,0,Sales,2.0,2.0,1.0,Yes,Yes,0.103538,0.000000,2.000000,0
121855,9000.0,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,Secondary,S,Male,CL,Home,0.018029,14772.0,498.0,8679.000000,5025.0,0,0,Managers,2.0,3.0,4.0,Yes,Yes,0.556414,805.000000,0.000000,0

In [81]:
# 남은 결측치 값 확인
pay_df.isna().sum()

Client_Income                    0
Car_Owned                     3581
Bike_Owned                    3624
Active_Loan                   3635
House_Own                     3661
Child_Count                   3638
Credit_Amount                    0
Loan_Annuity                     0
Client_Education                 0
Client_Marital_Status            0
Client_Gender                    0
Loan_Contract_Type               0
Client_Housing_Type              0
Population_Region_Relative       0
Age_Days                         0
Employed_Days                    0
Registration_Days                0
ID_Days                          0
Homephone_Tag                    0
Workphone_Working                0
Client_Occupation                0
Client_Family_Members         2410
Cleint_City_Rating            2409
Application_Process_Day       2428
Client_Permanent_Match_Tag       0
Client_Contact_Work_Tag          0
Score_Source_2                   0
Phone_Change                     0
Credit_Bureau                    0
Default                          0
dtype: int64

In [82]:
# 연속형 데이터임에도 불구하고 전처리 안된 컬럼 발견 
pay_df.Client_Family_Members.value_counts()

2.0     61652
1.0     26213
3.0     20434
4.0      9583
5.0      1349
6.0       157
7.0        32
8.0        11
9.0         4
10.0        3
12.0        3
16.0        2
13.0        1
14.0        1
15.0        1
Name: Client_Family_Members, dtype: int64

In [83]:
# 해당 컬럼만 별도로 다시 결측치 값을 고유값 중 랜덤으로 부여하는 것으로 처리
unique_columns =  pay_df['Client_Family_Members'].loc[pay_df['Client_Family_Members'].isna()==False].unique()
pay_df['Client_Family_Members'] = pay_df['Client_Family_Members'].apply(lambda x : random.choice(unique_columns) if pd.isna(x) else x)

In [84]:
# 제대로 처리 되었음을 확인
pay_df.Client_Family_Members.isna().sum()

0

In [85]:
# 범주형 데이터임에도 불구하고 float 데이터 타입으로 처리되어 결측치 처리가 완료되지 않은 컬럼들 
# 원핫 인코딩 적용을 통한 결측치 처리 -> pycaret 내부에서 진행 
other_category_columns = ['Car_Owned', 'Bike_Owned', 'Active_Loan', 'House_Own', 'Child_Count', 
                          'Cleint_City_Rating', 'Application_Process_Day']

In [86]:
# type이 object인 범주형 컬럼들
category_columns = list(pay_df.select_dtypes(include='object').columns)
category_columns

['Client_Education',
 'Client_Marital_Status',
 'Client_Gender',
 'Loan_Contract_Type',
 'Client_Housing_Type',
 'Client_Occupation',
 'Client_Permanent_Match_Tag',
 'Client_Contact_Work_Tag']

In [87]:
# 최종적인 범주형 컬럼 리스트
total_category_columns = category_columns + other_category_columns
total_category_columns

['Client_Education',
 'Client_Marital_Status',
 'Client_Gender',
 'Loan_Contract_Type',
 'Client_Housing_Type',
 'Client_Occupation',
 'Client_Permanent_Match_Tag',
 'Client_Contact_Work_Tag',
 'Car_Owned',
 'Bike_Owned',
 'Active_Loan',
 'House_Own',
 'Child_Count',
 'Cleint_City_Rating',
 'Application_Process_Day']

In [88]:
# numerical columns 정리 
numerical_colunms = ['Client_Income','Credit_Amount','Loan_Annuity','Population_Region_Relative',
                     'Age_Days','Employed_Days','Registration_Days','ID_Days',
                     'Client_Family_Members','Score_Source_2','Phone_Change',
                     'Credit_Bureau','Homephone_Tag','Workphone_Working']

In [89]:
pay_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Client_Income               121856 non-null  float64
 1   Car_Owned                   118275 non-null  float64
 2   Bike_Owned                  118232 non-null  float64
 3   Active_Loan                 118221 non-null  float64
 4   House_Own                   118195 non-null  float64
 5   Child_Count                 118218 non-null  float64
 6   Credit_Amount               121856 non-null  float64
 7   Loan_Annuity                121856 non-null  float64
 8   Client_Education            121856 non-null  object
 9   Client_Marital_Status       121856 non-null  object
 10  Client_Gender               121856 non-null  object
 11  Loan_Contract_Type          121856 non-null  object
 12  Client_Housing_Type         121856 non-null  object
 13  Population_Region_Relative  121856 non-null  float64
 14  Age_Days                    121856 non-null  float64
 15  Employed_Days               121856 non-null  float64
 16  Registration_Days           121856 non-null  float64
 17  ID_Days                     121856 non-null  float64
 18  Homephone_Tag               121856 non-null  int64
 19  Workphone_Working           121856 non-null  int64
 20  Client_Occupation           121856 non-null  object
 21  Client_Family_Members       121856 non-null  float64
 22  Cleint_City_Rating          119447 non-null  float64
 23  Application_Process_Day     119428 non-null  float64
 24  Client_Permanent_Match_Tag  121856 non-null  object
 25  Client_Contact_Work_Tag     121856 non-null  object
 26  Score_Source_2              121856 non-null  float64
 27  Phone_Change                121856 non-null  float64
 28  Credit_Bureau               121856 non-null  float64
 29  Default                     121856 non-null  int64
dtypes: float64(19), int64(3), object(8)
memory usage: 27.9+ MB

In [93]:
# train, test set split (train:test = 70:30 )
from sklearn import  model_selection
train_df, test_df = model_selection.train_test_split(pay_df, test_size=0.3, random_state=0)

In [96]:
print(train_df.shape)
print(test_df.shape)

(85299, 30)
(36557, 30)

In [90]:
from pycaret.classification import *

In [61]:
setup_clf = setup(data=train_df, 
                  target='Default',
                  
                  # 정규화
                  normalize = True,
                  normalize_method = 'zscore',
                  
                  transformation = True,
                  
                  # 제외할 컬럼
                  ignore_features = ['ID'], # 식별 컬럼 제거
                  numeric_features = numerical_colunms ,
                  # 지정 시 onehot eocoding 해줌 
                  categorical_features = total_category_columns,
                  
                  # random state number 지정
                  #seession_id = 123,
                  
                  feature_selection = True,
                  feature_selection_method = 'classic', # or 'boruta' 
                  # classic 은 permutation importance 기반이다.
                  fix_imbalance = True, # data imbalance 를 sampling method로 보정
                  # 기본은 SMOTE
                 )

MemoryError: Unable to allocate 613. GiB for an array with shape (524367, 156816) and data type float64

In [91]:
# 시도 1 
setup_clf = setup(data=pay_df, 
                  target='Default',
                  
                  numeric_features = numerical_colunms ,
                  # 지정 시 onehot eocoding 해줌 
                  categorical_features = total_category_columns,
                  
                  fix_imbalance = True 
              
                 )

In [99]:
# 시도2 
setup_clf = setup(session_id = 1,
                  data = train_df, 
                  target = 'Default',
                  test_data = test_df,
                  
                  # 정규화
                  normalize = True,
                  normalize_method = 'zscore',
                  transformation = True,
                
                  numeric_features = numerical_colunms ,
                  categorical_features = total_category_columns, # 지정 시 onehot eocoding 해줌 
                  
                  fix_imbalance = True,  # data imbalance 를 sampling method로 보정 (기본은 smote)
                  use_gpu = True
                 )

In [101]:
# 시도3
setup_clf = setup(session_id = 1,
                  data = pay_df, 
                  target = 'Default',
                  train_size = 0.7,
                  
                  # 정규화
                  normalize = True,
                  normalize_method = 'zscore',
                  transformation = True,
                
                  numeric_features = numerical_colunms ,
                  categorical_features = total_category_columns, # 지정 시 onehot eocoding 해줌 
                  
                  fix_imbalance = True,  # data imbalance 를 sampling method로 보정 (기본은 smote)
                  use_gpu = True
                 )

In [92]:
# 시도1 결과 
best_model = compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

In [100]:
# 시도2 결과 
best_model = compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

In [102]:
# 시도3 결과 
best_model = compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]